[*]
charset = utf-8

[*.cs]

# SA1302: Interface names should begin with I
dotnet_diagnostic.SA1302.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1513: Closing brace should be followed by blank line
dotnet_diagnostic.SA1513.severity = none

# SA1314: Type parameter names should begin with T
dotnet_diagnostic.SA1314.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1002: Semicolons should be spaced correctly
dotnet_diagnostic.SA1002.severity = none

# IsNull: Do not use 'is' pattern matching with 'null'.
dotnet_diagnostic.IsNull.severity = none

# SA1000: Keywords should be spaced correctly
dotnet_diagnostic.SA1000.severity = none

# SA1012: Opening braces should be spaced correctly
dotnet_diagnostic.SA1012.severity = none

# SA1013: Closing braces should be spaced correctly
dotnet_diagnostic.SA1013.severity = none

# SA1515: Single-line comments should not use trailing whitespace
dotnet_diagnostic.SA1515.severity = none

# SA1118: Parameter should not span multiple lines
dotnet_diagnostic.SA1118.severity = none
